<!-- FROM HYDE -->
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ 'public/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ 'public/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ 'public/css/hyde.css' | absolute_url }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'public/apple-touch-icon-144-precomposed.png' | absolute_url }}">
  <link rel="shortcut icon" href="{{ 'public/favicon.ico' | absolute_url }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">
</head>
